body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
canvas {
    display: block;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.1);
}
#controls {
    margin-top: 10px;
}
button {
    padding: 10px;
    margin: 5px;
    background: white;
    border: none;
    cursor: pointer;
}
#trackbar {
    display: block;
    margin: 20px auto;
    width: 500px;
    max-width: 90%;
}
